<meta charset="UTF-8">
<meta name="theme-color" content="#097bc5">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
{{!-- <link rel="apple-touch-icon" href="/static/icon128.png"> --}}
<link rel="preload" href="/static/bulma.min.css" as="style">
<link rel="preload" href="/dist/burger.js" as="script">
{{!-- <link rel="manifest" href="/static/manifest.json"> --}}
{{!-- <link rel="icon" href="/static/icon32.png" type="image/png"> --}}
<style>:root { --primary-color: #008346; --info-color: #1459d5; --danger-color: #d33847; }</style>
<link rel="stylesheet" href="/static/bulma.min.css">
<title>Dashboard</title>
