<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <style>html, body { background-color: var(--info-color) }</style>
</head>
<body>
    {{!-- Render navbar here --}}
    {{> navbar}}
    <div class="hero is-info is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="animated shake title">
                    Welcome to your dashboard !
                </h1>
                <h2 class="animated shake subtitle">
                    What could have possibly happened in the world ? Let's find out !!
                </h2>
            </div>
        </div>
    </div>
</body>
</html>
