<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    {{> head}}
    <style>
        .custom-tag {
            word-wrap: break-word;
            padding: 10px;
            border-radius: 5px;
            background-color: var(--info-color);
            color: #fff;
            font-weight: bold;
        }
        .custom-box {
            box-shadow: 0 3px 10px 1px #a7a7a7;
            border-radius: 1px;
            border: 1px solid grey;
        }
        .service-icon {
            max-width: 100%;
            max-height: 100%;
            width: unset;
            height: unset;
            margin-right: 5px;
        }
    </style>
</head>
<body>
    {{> navbar}}
    {{#if status.logged_in}}
    <style>html, body { background-color: var(--primary-color) } body { display: block; align-items: unset; justify-content: unset; flex-direction: unset; }</style>
    <div class="hero is-fullheight is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">You are already logged in !</h1>
            </div>
        </div>
    </div>
    <script>document.documentElement.classList.remove("has-navbar-fixed-top")</script>
    {{else}}
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Login page</h1>
                <h3 class="subtitle">Here, you can sign in with your account.</h3>
            </div>
        </div>
    </div>
    <div style="display: flex; align-items: center; justify-content: center">
        <form action="/auth/login" method="post">
            <div class="field">
                <label class="label">Username</label>
                <input class="input is-medium" type="username" placeholder="Username..." name="username" autocomplete="username" required>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <input class="input is-medium" type="password" placeholder="Password..." name="password" autocomplete="current-password" required>
            </div>
            <div class="field">
                <label class="label">
                    <input type="checkbox" name="remember" style="position: relative; vertical-align: middle; bottom: 2px">
                    Remember me for 30 days
                </label>
            </div>
            <p class="field custom-tag">
                Disconnections may occur while the service is still under development.
            </p>
            {{#if error}}
            <p class="field custom-tag" style="background-color: var(--danger-color)">
                {{ error }}
            </p>
            {{/if}}
            <div class="field has-addons has-addons-centered">
                <p class="control">
                    <a class="button is-static" style="padding: 10px">
                        Login with:
                    </a>
                </p>
                <p class="control">
                    <a class="button is-dark is-outlined" href="/auth/github" style="padding: 10px">
                        <img class="service-icon" src="/static/github-icon.png">
                        GitHub
                    </a>
                </p>
                <p class="control">
                    <a class="button is-dark is-outlined" href="/auth/trello" style="padding: 10px">
                        <img class="service-icon" src="/static/trello-icon.png">
                        Trello
                    </a>
                </p>
                <p class="control">
                    <a class="button is-dark is-outlined" href="/auth/steam" style="padding: 10px">
                        <img class="service-icon" src="/static/steam-icon.png">
                        Steam
                    </a>
                </p>
            </div>
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <input type="submit" class="button is-primary is-outlined" value="Submit">
                </p>
                <p class="control">
                    <a class="button is-danger is-outlined" href="/">Cancel</a>
                </p>
            </div>
            <input type="submit" hidden>
        </form>
    </div>
    <script src="/wasm/wasm_hasher.js" defer></script>
    <script defer>
        const input = document.querySelector('input[type="submit"]');
        const form = document.getElementsByTagName("form")[0];
        const password = document.querySelector('input[type="password"]');
        form.addEventListener("submit", async function (_) {
            _.preventDefault();
            const { sha512_hash } = await Rust.wasm_hasher;
            password.value = sha512_hash(password.value);
            this.submit();
            input.classList.add("is-loading");
        });
    </script>
    {{/if}}
</body>
</html>
